<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<select id="boardList" resultType="boardDto">
		SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
     		 , B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
		FROM BOARD B JOIN MEMBER M
		ON B.ID = M.ID
		ORDER BY B.REGDATE DESC
	</select>

	<insert id="insertBoard" parameterType="boardDto">
		INSERT INTO BOARD
		VALUE(BSEQ, BCODE, ID, TITLE, CONTENT, IMG, HIT, REGDATE)
		VALUES(BOARD_SEQ.NEXTVAL ,2,#{id},#{title},#{content},#{img},0, SYSDATE)
	</insert>
	
	<select id="boradview" parameterType="int" resultType="boardDto">
		SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
     		 , B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
		FROM BOARD B JOIN MEMBER M
		ON B.ID = M.ID
		WHERE B.BSEQ = #{bseq}
	</select>
</mapper>