<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<select id="boardList" resultType="boardDto" parameterType="java.util.Map">
		SELECT *
		FROM (SELECT ROWNUM RNUM, S.*
      		  FROM (SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
            		, B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
            		FROM BOARD B JOIN MEMBER M
            		ON B.ID = M.ID
            		WHERE B.BCODE = #{bcode}
            		ORDER BY B.REGDATE DESC) S) B
		WHERE B.RNUM BETWEEN #{pageNum}*10-9 AND #{pageNum}*10
	</select>

	<insert id="insertBoard" parameterType="boardDto">
		INSERT INTO BOARD
		VALUE(BSEQ, BCODE, ID, TITLE, CONTENT, IMG, HIT, REGDATE)
		VALUES(BOARD_SEQ.NEXTVAL ,#{bcode},#{id},#{title},#{content},#{img},0, SYSDATE)
	</insert>
	
	<select id="boradview" parameterType="int" resultType="boardDto">
		SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
     		 , B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
		FROM BOARD B JOIN MEMBER M
		ON B.ID = M.ID
		WHERE B.BSEQ = #{bseq}
	</select>
	
	<update id="hit" parameterType="int">
		UPDATE BOARD
		SET HIT = HIT +1
		WHERE BSEQ = #{bseq}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD
		WHERE BSEQ = #{bseq}
	</delete>
	
	<update id="updateBoard" parameterType="boardDto">
		UPDATE BOARD
		SET TITLE = #{title}, CONTENT = #{content}, REGDATE = SYSDATE
		WHERE BSEQ = #{bseq}
	</update>
	
	<insert id="insertMemo" parameterType="memoDto">
		INSERT INTO MEMO
		VALUES(MEMO_SEQ.NEXTVAL, #{bseq}, #{id}, #{content}, SYSDATE)
	</insert>
	
	<select id="memoList" parameterType="int" resultType="memoDto">
		SELECT ME.MSEQ, ME.BSEQ, ME.ID, ME.CONTENT, ME.REGDATE, M.NAME
		FROM MEMO ME JOIN MEMBER M
		ON ME.ID = M.ID
		WHERE ME.BSEQ = #{bseq}
		ORDER BY ME.REGDATE DESC
	</select>
	
	<select id="topMemo" parameterType="int" resultType="memoDto">
		SELECT *
		FROM (SELECT ME.MSEQ, ME.BSEQ, ME.ID, ME.CONTENT, ME.REGDATE, M.NAME
     	FROM MEMO ME JOIN MEMBER M
     	ON ME.ID = M.ID
    	WHERE ME.BSEQ = #{bseq}
    	ORDER BY ME.REGDATE DESC)
		WHERE ROWNUM = 1
	</select>
	
	<delete id="deleteMemo" parameterType="int">
		DELETE FROM MEMO
		WHERE MSEQ = #{mseq}
	</delete>
	
	<select id="searchBoardList" resultType="boardDto" parameterType="java.util.Map">	
		SELECT *
		FROM(SELECT ROWNUM RNUM, S.*
     		FROM (SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
            	  , B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
           		  FROM BOARD B JOIN MEMBER M
           		  ON B.ID = M.ID
           		  WHERE B.BCODE = #{bcode}
           		  <choose>
					<when test="key eq 'NAME'">
						AND M.NAME = #{word}
					</when>
					<otherwise>
						AND B.TITLE LIKE '%'||#{word}||'%'
					</otherwise>
				  </choose>
           		  ORDER BY B.REGDATE DESC) S) B
		WHERE B.RNUM BETWEEN #{searchPageNum}*10-9 AND #{searchPageNum}*10
	</select>
	
	<select id="searchListCnt" resultType="int" parameterType="java.util.Map">
		
		SELECT COUNT(*)
		FROM
		(SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
     		 , B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
		FROM BOARD B JOIN MEMBER M
		ON B.ID = M.ID
		WHERE B.BCODE = #{bcode}
		<choose>
			<when test="key eq 'NAME'">
				AND M.NAME = #{word}
			</when>
			<otherwise>
				AND B.TITLE LIKE '%'||#{word}||'%'
			</otherwise>
		</choose>
		ORDER BY B.REGDATE DESC)
		
	</select>
	
	<select id="allBoardCnt" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BCODE = #{bcode}
	</select>
	
	<select id="boardMemoCnt" parameterType="int">
		SELECT COUNT(*)
		FROM MEMO
		WHERE BSEQ = #{bseq};
	</select>
	
	<select id="imgBoardList" resultType="boardDto" parameterType="java.util.Map" >
		SELECT *
		FROM (SELECT ROWNUM RNUM, S.*
      		  FROM (SELECT B.BSEQ, B.BCODE, B.ID, B.TITLE, B.CONTENT
            		, B.IMG, B.HIT, B.REGDATE, B.NOTICE, M.NAME
            		FROM BOARD B JOIN MEMBER M
            		ON B.ID = M.ID
            		WHERE B.BCODE = #{bcode}
             		AND B.IMG IS NOT NULL
            		ORDER BY B.REGDATE DESC) S) B
		WHERE B.RNUM BETWEEN #{pageNum}*10-9 AND #{pageNum}*10
	</select>

</mapper>