<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="600"/>
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="safeRowBoundsEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>


    <!-- Model 객체 Alias  -->
    <typeAliases>
        <!-- <typeAlias alias="userDto" type="com.seeroo.arserver.web.user.dto.UserDto"></typeAlias> -->
        <typeAlias alias="memberDto" type="com.kosta.rnbcafe.member.dto.MemberDto"></typeAlias>
        <typeAlias alias="boardDto" type="com.kosta.rnbcafe.board.dto.BoardDto"></typeAlias>
        
        <!-- 지은 -->
        <typeAlias alias="boardListDto" type="com.kosta.rnbcafe.admin.dto.BoardListDto"></typeAlias>
        <typeAlias alias="boardTypeDto" type="com.kosta.rnbcafe.admin.dto.BoardTypeDto"></typeAlias>
        <typeAlias alias="categoryDto" type="com.kosta.rnbcafe.admin.dto.CategoryDto"></typeAlias>
        
    </typeAliases>
</configuration>